* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Great vibes',cursive;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #ef1683, #e093bf);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgb(251, 254, 200);
    padding: 30px 20px;
    border-radius: 15px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    position: relative;
}

h1 {
    color: #ff4d6d;
    margin-bottom: 10px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

h2 span {
    color: #ff4d6d;
}

p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 25px;
}

button {
    background: #ff4d6d;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}

.button:hover {
    background: #e63950;
}
.box{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-style: italic;
    margin: auto;
    margin-top: 150px;
}

.main{
    background-color: rgb(151, 4, 151);
    background: url("../birthday_project/images/cat1.jpeg") no-repeat center;
    opacity: 0.9;
}
.para{
    color:rgb(230, 3, 136);
    font-weight: 500;
}

@keyframes float{
    0%{transform:translateY(100vh); opacity:0;}
    10%{opacity:1;}
    100%{transform:translateY(-10vh); opacity:0;}
}